# Environment variables and credentials
.env
*.session
*cookies.txt
radio_config.json

# Python cache
__pycache__/
*.pyc
*.pyo
*.pyd

# IDE and OS specific files
.idea/
.vscode/
.DS_Store

# Downloaded media files
downloads/