version: '3.8'

services:
  bot:
    build:
      context: .
    restart: unless-stopped
    env_file:
      - .env
    volumes:
      - ./downloads:/tmp/music_bot_downloads
      - ./cache.db:/app/cache.db
